In [1]:
import pandas as pd

In [6]:
#df = pd.read_csv('gapminder.tsv')
df = pd.read_csv('gapminder.tsv', sep = '\t')
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [7]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [15]:
#Shape: 
print(df.shape)
#Envolve uma tupla -> (linha,coluna)
#É um ATRIBUTO, não um MÉTODO ou FUNÇÃO -> não possui parênteses após o ponto
#Bom de saber para se ter uma noção do tamanho e quais informações
print('\n')
#Columns: Exibe as colunas e seus rótulos
print(df.columns)

(1704, 6)


Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [24]:
#Acessando os dados de um arquivo.
#Interessante ver parte a parte, pois em dataframes muito
#grandes fica inviável obsersar tudo de uma vez

country_df = df['country']
print(country_df.head())
print('\n')
#No pandas: abject -> string
print(country_df.tail())
print('\n')

#Para ver várias colunas utilizamos Listas
subset = df[['country', 'continent', 'year']]
print(subset.head())
print('\n')
print(subset.tail())

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object


1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object


       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972


       country continent  year
1699  Zimbabwe    Africa  1987
1700  Zimbabwe    Africa  1992
1701  Zimbabwe    Africa  1997
1702  Zimbabwe    Africa  2002
1703  Zimbabwe    Africa  2007

In [40]:
#Obtendo subconjuntos de linhas
#loc -> encontra utilizando o nome da linha
#iloc -> encontra utilizando o numero da linha

print('\n')
print(df.head())
print('\n')

print(df.loc[0])
print('\n')

print(df.loc[99])
print('\n')

#Não funciona como nas listas "padrão" de python 
#print(df.loc[-1])

#precisa desenvolver um pouco mais:
linhas = df.shape[0]
ultima_linha = linhas - 1
print(df.loc[ultima_linha])
print('\n')
#Também é possível fazer via Tail
print(df.tail(n=0))
print('\n')

UTILIZANDO O LOC:


       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106


country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object


country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap    721.186086
Name: 99, dtype: object


country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object


Empty DataFrame
Columns: [country, continent, year, lifeExp, pop, gdpPercap]
Index: []

In [42]:
print(df.iloc[-1])
print('\n')
print(df.iloc[[0,99,999]])

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object


         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

In [43]:
#Pegando elementos ainda mais específicos
print(df.loc[42, 'country']

AttributeError: 'DataFrame' object has no attribute 'ix'