In [17]:
import pandas as pd
import numpy as np

In [18]:
#series -> container de uma dimensão próximo ao que é uma lista em python
#Todos os elementos precisão tem o mesmo tipo

s = pd.Series(['banana', 42])
print(s)

print('\n')

s = pd.Series(['Victor', 'professor'], index=['Nome','Profissão'] )
print(s)

0    banana
1        42
dtype: object


Nome            Victor
Profissão    professor
dtype: object

In [19]:
#dataframe -> dicionário de objetos tipo series

listaPessoas = pd.DataFrame({'Name': ['Lucas Moura', 'Enzo Días'],
                             'Ocupation': ['Médico','Policial'],
                             'Nasc': ['1930-07-25', '1957-06-14'],
                             'Morte': ['1985-04-30', '1995-01-01'],
                             'Idade': [55, 38]})
print(listaPessoas)

print('\n')
#fazendo com ordens definidas
scientists = pd.DataFrame(
data={'Occupation': ['Chemist', 'Statistician'],
'Born': ['1920-07-25', '1876-06-13'],
'Died': ['1958-04-16', '1937-10-16'],
'Age': [37, 61]},
index=['Rosaline Franklin', 'William Gosset'],
columns=['Occupation', 'Born', 'Died', 'Age'])
print(scientists)

          Name Ocupation        Nasc       Morte  Idade
0  Lucas Moura    Médico  1930-07-25  1985-04-30     55
1    Enzo Días  Policial  1957-06-14  1995-01-01     38


                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

In [20]:
#Printando uma série
#printa index como primeira coluna
first_row = scientists.loc['William Gosset']
print(type(first_row))
print(first_row)
print('\n')

#focando agora somente em uma coluna e todos os envolvidos
ages = scientists['Age']
print(ages)

<class 'pandas.core.series.Series'>
Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object


Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [22]:
print(ages.mean())
print(ages.max())
print(ages.min())

49.0
61
37

In [24]:
df = pd.read_csv('gapminder.tsv', sep = '\t')

In [37]:
lifeExpec = df['lifeExp']
print(lifeExpec)
print('\n')

print(lifeExpec.mean())
print('\n')

print(lifeExpec.describe())
print('\n')

print(lifeExpec[lifeExpec > lifeExpec.mean()])
print('\n')

0       28.801
1       30.332
2       31.997
3       34.020
4       36.088
         ...
1699    62.351
1700    60.377
1701    46.809
1702    39.989
1703    43.487
Name: lifeExp, Length: 1704, dtype: float64


59.474439366197174


count    1704.000000
mean       59.474439
std        12.917107
min        23.599000
25%        48.198000
50%        60.712500
75%        70.845500
max        82.603000
Name: lifeExp, dtype: float64


14      64.820
15      66.220
16      67.690
17      68.930
18      70.420
         ...
1678    60.308
1679    62.698
1698    60.363
1699    62.351
1700    60.377
Name: lifeExp, Length: 895, dtype: float64

In [ ]:
#lebrar que python tem suporte para trabalhar diretamente com vetores
#de informações, diferente de outras linguagens. O panda vem com ainda
#mais suporte para facilitar contas e operações entre os diferentes conjuntos
#de dados.

In [39]:
#DATAFRAME
#Basicamente a forma que o python tem de armazenar planilhas
#Várias funções das series funcionam com as dataframes

print(lifeExpec[df['lifeExp'] > df['lifeExp'].mean()])
print('\n')

14      64.820
15      66.220
16      67.690
17      68.930
18      70.420
         ...
1678    60.308
1679    62.698
1698    60.363
1699    62.351
1700    60.377
Name: lifeExp, Length: 895, dtype: float64

In [52]:
#ALTERANDO DATAFRAMES E SERIES

print(scientists['Born'].dtype)
print(scientists['Died'].dtype) #--> ambas como objects, mas seriam datetimes
print('\n')

born_datetime = pd.to_datetime(scientists['Born'], format = '%Y-%m-%d')
print(born_datetime)
died_datetime = pd.to_datetime(scientists['Died'], format = '%Y-%m-%d')

object
object


Rosaline Franklin   1920-07-25
William Gosset      1876-06-13
Name: Born, dtype: datetime64[ns]

In [54]:
scientists['born_dt'], scientists['died_dt'] = (born_datetime,
died_datetime)
print(scientists.head())

                     Occupation        Born        Died  Age    born_dt  \
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37 1920-07-25
William Gosset     Statistician  1876-06-13  1937-10-16   61 1876-06-13

                     died_dt
Rosaline Franklin 1958-04-16
William Gosset    1937-10-16